body{
    background: url("./background2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lmenu {
    grid-area: lmenu;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.logo {
    grid-area: logo;
}

.logophoto {
    text-decoration: none;
}

.rmenu {
    grid-area: rmenu;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.fspace {
    grid-area: fspace;
}

.content {
    grid-area: content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


div.lmenu{
    text-align: left;
}

div.rmenu {
    text-align: right;    
}
div.fspace {
    text-align: center;
}

div.logo {
    text-align: center;
}

div.content{
}

div.exinfo{
    text-align: center;
}

/*classes*/
.pointer-link { 
    cursor: pointer; 
} 

.gridcontainer{
    display: grid;
    grid-template-areas:'lmenu    lmenu    logo     logo     rmenu    rmenu'
                        'lmenu    lmenu    logo     logo     rmenu    rmenu'
                        'fspace   fspace   fspace   fspace   fspace   fspace'
                        'content  content  content  content  content  content'
                        'content  content  content  content  content  content'
                        'content  content  content  content  content  content'                  
                        ;
}

.lmenu p {
    display: inline-block;
    padding-left: 20px;
}

.signupButtons h2{
    display: inline-block; 
    color: white;
}

.signupButtons {
    text-align: center;
}

.rmenu p{
    display: inline-block;
    padding-right: 20px;
}

.language{
    color: solid white;
}

.language:visited {
    color:solid white;
} 

.language:hover {
    color: solid white;
    border: 0px;
} 

.language:active {
    color: solid white;
}

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title{
    font-size: x-large;
}

.info{
    text-align: center;
    color: white;
    font-size: medium;
}

/*ids*/
#language {
    border-right: solid white;
    border-left: solid white;
    border-bottom: solid white;
    border-top: solid white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#title {
    color:white;
    text-align: center;
}

#logophoto{
    padding-top: 20px;
    width: 100px;
}

#signup, #signin{
    cursor: hover;
}



#profiles:visited {
    color: none;
    text-decoration: none;
}
#faq:visited {
    color: none;
    text-decoration: none;
}

#signup:visited {
    color: none;
    text-decoration: none;
}

#signin:visited {
    color: none;
    text-decoration: none;
}