div.header {
    box-shadow: 0px 0.8px 3px grey;
}

div.fspace {
    text-align: center;
}

div.content {
    text-align: center;
}


.gridcontainer{
    display: grid;
    grid-template-areas:'header   header   header    header   header   header'
                        'fspace   fspace   fspace    fspace   fspace   fspace'
                        'content  content  content   content  content  content'
                        'content  content  content   content  content  content'
                        'content  content  content   content  content  content'
                        'content  content  content   content  content  content'                        
                        ;
}